.Pokemon {
    position: relative;
  max-height: 100vh;
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.Pokemon::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.ShowAllPokemons {
    position: sticky;
    top: 0px;
}